.input {
    position: fixed;
    top: -100vh;
    left: -100vw;
}

.div {
    padding: 40px;
    text-align: center;
    font-size: 3rem;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.focused {
    background: rgb(17, 78, 156);
}

.unfocused {
    background: rgb(0, 38, 88);
}

.info {
    font-size: 2rem;
    margin-top: 16px;
    text-align: left;
}

.pre code {
    border-radius: 0;
}