.aside {
  background: var(--background-accent);
  overflow: auto;
}

.noUnderline {
  text-decoration: none;
}

.customCard {
  background: rgba(0, 0, 0, 0.2);
  margin: 8px 0;
  padding: 0;
}

.customCard:hover {
  background: rgba(0, 0, 0, 0.3);
  margin: 8px 0;
  padding: 0;
}

.customTitle a {
  display: block;
}

.subtitle {
  font-weight: bolder;
  font-size: 2.5rem;
  text-align: center;
}
