.nav {
  padding: 0;
  background: var(--background-accent);
  display: flex;
}

.link {
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
  padding: 8px;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.link:hover {
  color: black;
}

.link:hover {
  background: rgba(255, 255, 255, 0.9);
}