.flex {
  display: flex;
  padding: 10px;
  height: 100%;
  overflow: auto;
}

.main {
  flex: 75%;
  padding: 10px;
  margin: 10px;
  height: 100%;
}

.sub {
  flex: 25%;
  padding: 10px;
  margin: 10px;
  height: 100%;
}
