.flex {
  display: flex;
  padding: 10px;
  background: #eee;
  height: 100%;
}

.main {
  flex: 75%;
  background: #fff;
  padding: 10px;
  margin: 10px;
}

.sub {
  flex: 25%;
  padding: 10px;
  margin: 10px;
}

.horiz {
  background: #eee;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top {
  flex: 1;
}

.sub {
  flex: 3;
}