@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: normal;
  src: url("/notosans/NotoSans-Regular.ttf");
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: normal;
  src: url("/notosans/NotoSans-Italic.ttf");
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url("/notosans/NotoSans-Bold.ttf");
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: url("/notosans/NotoSans-BoldItalic.ttf");
}