:root {
  --primary: #006eff;
  --primaryh: #0053c1;

  --primary-accent: #00098b;
  --primary-accenth: #000661;
}

html, body {
  padding: 0;
  margin: 0;

  /* todo */
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--primary);
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: var(--primaryh);
}


.title {
  font-weight: bolder;
  font-size: 5rem;
  text-align: center;
}

.subtitle {
  font-weight: bolder;
  font-size: 2.5rem;
}

.center {
  text-align: center;
}

.big {
  font-size: 3rem;
}