:root {
  --background: #2e3144;
  --background-accent: #474740;

  --primary: #0095ff;
  --primaryh: #005999;

  --secondary: #0753b0;
  --secondaryh: #053b7c;

  --text: #d7ddec;
}

html, body {
  padding: 0;
  margin: 0;

  /* todo */
  font-family: 'Noto Sans', monospace;
}

a {
  color: var(--primary);
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: var(--primaryh);
}


.title {
  font-weight: bolder;
  font-size: 5rem;
  text-align: center;
}

.subtitle {
  font-weight: bolder;
  font-size: 2.5rem;
}

.center {
  text-align: center;
}

.big {
  font-size: 3rem;
}