:root {
  --background: #1f212e;
  --background-accent: #35384b;

  --primary: #0095ff;
  --primaryh: #7cc9ff;

  --secondary: #c5ac1d;
  --secondaryh: #8e7c17;

  --text: #d7ddec;

  --font: 'Noto Sans', monospace;
}

html, body {
  padding: 0;
  margin: 0;

  background: var(--background);
  color: var(--text);

  font-family: var(--font);
}

a {
  color: var(--primary);
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: var(--primaryh);
}


.title {
  font-weight: bolder;
  font-size: 5rem;
  text-align: center;
}

.subtitle {
  font-weight: bolder;
  font-size: 2.5rem;
}

.center {
  text-align: center;
}

.big {
  font-size: 3rem;
}